
<a id="waldo-photo" class="searching">

  <%= image_tag "#{@photo.id}.jpg", class: "searching" %>

  <div class="target">
    <div class='dropdown'>

      <div class="name">
        <% @characters.each do |character| %>
          <%= button_to character.name, tags_path, {method: :post, class: "btn btn-default btn-block", data: { character: "#{character.id}"} } %>
        <% end %>
      </div>

    </div>
  </div>
</a>
