
<a id="waldo-photo" class="searching">

  <%= image_tag "1.jpg", class: "searching" %>

  <div class="target">
    <div class='dropdown'>

      <div class="name">
        <% @characters.each do |character| %>
          <%= button_to character.name, tags_path, {method: :post, remote: true, class: "btn btn-default btn-block", id: "button-#{character.id}" } %>
        <% end %>
      </div>

    </div>
  </div>

  <div class="tag" id='tag-prototype'>
    <div class="delete-tag">X</div>
    <div class="tagged-name">Nancy</div>
  </div>


</a>
